.wrap {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

ul, li {
    margin: 0;
    padding: 0;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.cancel_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #808080;
    color: white;
    border-radius: 3px;
}

.pdf {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #ff0000;
}

.index {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #FFA300;
}

.td {
    text-align: left;
}

.select-style {
    border: 1px solid #ccc;
    width: 240px;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
}

.select-style select:focus {
    outline: none;
}

input[type=submit] {
    padding: 5px 15px;
    background: #FFFFFF;
    border: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: SimHei;
    font-size: 18px;
    color: #FF0000;
}


